language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - pip install requests
  - pip install python-dateutil
  - pip install coveralls pycodestyle pep257 restructuredtext_lint testfixtures
  - python setup.py install
script:
  - python setup.py test
  - pycodestyle --ignore=E501,W503 resync tests bin/resync bin/resync-explorer
  - pep257 resync tests bin/resync bin/resync-explorer
  - rst-lint README
  - coverage run --source=resync setup.py test
after_success:
  - coveralls